<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Wrbl Analytics</title>
	</head>

	<body>
		<button onclick="clickhandler(event)">login with jalfry</button>

		<script src="/js/jf.js"></script>
	</body>
</html>
